<?xml version="1.0" encoding="UTF-8"?>

<!-- Code conventions -->
<!-- 	Paths have to end with a / -->  

<arttomusic-configuration>
	<paths>
		<path-to-images>/home/rafael/Dropbox/MasterInformatica/EersteJaar/Onderzoeksproject1/ArtToMusic/img/</path-to-images>
		<path-to-music>/home/rafael/Dropbox/MasterInformatica/EersteJaar/Onderzoeksproject1/ArtToMusic/music/</path-to-music>
		<path-to-samples>/home/rafael/Dropbox/MasterInformatica/EersteJaar/Onderzoeksproject1/ArtToMusic/samples/</path-to-samples>
		<path-to-data>/home/rafael/Dropbox/MasterInformatica/EersteJaar/Onderzoeksproject1/ArtToMusic/data/</path-to-data>
	</paths>
</arttomusic-configuration>